<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>All Med Tools</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans|Merriweather+Sans:400,800,700">
<!-- CSS
  ================================================== -->

<link rel="stylesheet" href="css/bootstrap.css" media="all">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/flexslider.css">
<!--[if lt IE 9]>
		<script src="lib/js/html5.js"></script>
<![endif]-->
<!-- Favicons
	================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
<!-- Primary Page Layout
	================================================== -->
<header class="mainheader">
  <div class="header-top">
    <div class="container">
      <div class="col-sm-5">
        <h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="all med tools"></a></h1>
      </div>
    </div>
  </div>
  <div class="header-bottom group">
    <div class="container">
      <div class="navbar-header pull-right">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <nav class="collapse navbar-collapse navbar-mind-collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html"><i class="fa fa-home ico"></i>Home</a></li>
          <li class="active"><a href="about.html"><i class="fa fa-th-list ico"></i>About us</a></li>
          <li><a href="product-details.html"><i class="fa fa-cloud-upload ico"></i>Our Products</a></li>
          <li><a href="#"><i class="fa fa-picture-o ico"></i>Gallery</a></li>
          <li><a href="#"><i class="fa fa-cog ico"></i>Services</a></li>
          <li><a href="#"><i class="fa fa-edit ico"></i>Blog</a></li>
          <li><a href="#"><i class="fa fa-group ico"></i>Forum</a></li>
          <li><a href="contact.html"><i class="fa fa-phone ico"></i>Contact Us</a></li>
        </ul>
        <!-- nav nabvar-nav --> 
      </nav>
    </div>
  </div>
</header>
<!--mainheader-->

<section class="maincontainer">
  <div class="container">
    <div class="content-section">
      <div class="section-1">
        <div class="row">
          <div class="col-sm-5">
           <section class="slider">
              <div class="flexslider">
                <ul class="slides">
                  <li data-thumb="images/wave-line.jpg"> <img src="images/wave-line.jpg" alt="wave"/> </li>
                  <li data-thumb="images/wave-line.jpg"> <img src="images/wave-line.jpg" alt="wave"/> </li>
                  <li data-thumb="images/wave-line.jpg"> <img src="images/wave-line.jpg" alt="wave"/> </li>
                  <li data-thumb="images/wave-line.jpg"> <img src="images/wave-line.jpg" alt="wave"/> </li>
                </ul>
              </div>
            </section>
           
          </div>
          <div class="col-sm-7">
            <div class="description">
              <div class="title-block">
                <h2> Lorem Ipsum Dolor Sit Amet</h2>
              </div>
              
              
            </div>
            <div class="description">
              
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
                quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam 
                est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et 
                dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                 corporis suscipit laboriosam</p>
                 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
                quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam 
                est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius.</p>
            </div>
          </div>
        </div>
      </div>
      <!--.section-1-->
      
    </div>
    <!--.content-section-->
    
  </div>
  </div>
</section>
<!--.maincontainer-->
<footer id="footer">
  <div class="container">
    <nav class="footer-nav footer-nav1">
      <p> &copy; 2013 All Maid Tools    All Rights Reserved    | <a href="javascript:void(0)">Terms Of Use</a> And <a href="javascript:void(0)">Privacy Policy</a></p>
    </nav>
  </div>
</footer>

<!-- JS
	================================================== --> 
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/plugin.js"></script>
<script src="js/bootstrap.js"></script> 
<script src="js/scripts.js"></script>
</body>
</html>