<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>All Med Tools</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans|Merriweather+Sans:400,800,700">
<!-- CSS
  ================================================== -->

<link rel="stylesheet" href="css/bootstrap.css" media="all">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/flexslider.css">
<!--[if lt IE 9]>
		<script src="lib/js/html5.js"></script>
<![endif]-->
<!-- Favicons
	================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
<!-- Primary Page Layout
	================================================== -->
<header class="mainheader">
  <div class="header-top">
    <div class="container">
      <div class="col-sm-5">
        <h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="all med tools"></a></h1>
      </div>
    </div>
  </div>
  <div class="header-bottom group">
    <div class="container">
      <div class="navbar-header pull-right">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <nav class="collapse navbar-collapse navbar-mind-collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html"><i class="fa fa-home ico"></i>Home</a></li>
          <li><a href="about.html"><i class="fa fa-th-list ico"></i>About us</a></li>
          <li><a href="product-details.html"><i class="fa fa-cloud-upload ico"></i>Our Products</a></li>
          <li><a href="#"><i class="fa fa-picture-o ico"></i>Gallery</a></li>
          <li><a href="#"><i class="fa fa-cog ico"></i>Services</a></li>
          <li><a href="#"><i class="fa fa-edit ico"></i>Blog</a></li>
          <li><a href="#"><i class="fa fa-group ico"></i>Forum</a></li>
          <li class="active"><a href="contact.html"><i class="fa fa-phone ico"></i>Contact Us</a></li>
        </ul>
        <!-- nav nabvar-nav --> 
      </nav>
    </div>
  </div>
</header>
<!--mainheader-->

<section class="maincontainer">
  <div class="container">
    <div class="content-section">
      <div class="section-1">
        <div class="google-map">
        <img src="images/gmap.jpg" alt="gmap">
        </div>
        <div class="row">
        	<article class="contact-form col-sm-7">                            
                            <div class="title-block">
                <h3>Get in touch</h3>
              </div>
                            <p>We'd love to hear from you. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut erat magna. Aliquam porta sem a lacus imperdiet posuere. Integer semper eget ligula id eleifend. </p>
                            <form>
                                <div class="form-group name">
                                    <label for="name">Name</label>
                                    <input id="name" type="text" class="form-control" placeholder="Enter your name">
                                </div><!--//form-group-->
                                <div class="form-group email">
                                    <label for="email">Email<span class="required">*</span></label>
                                    <input id="email" type="email" class="form-control" placeholder="Enter your email">
                                </div><!--//form-group-->
                                <div class="form-group phone">
                                    <label for="phone">Phone</label>
                                    <input id="phone" type="tel" class="form-control" placeholder="Enter your contact number">
                                </div><!--//form-group-->
                                <div class="form-group message">
                                    <label for="message">Message<span class="required">*</span></label>
                                    <textarea id="message" class="form-control" rows="6" placeholder="Enter your message here..."></textarea>
                                </div><!--//form-group-->
                                <button type="submit" class="btn sub-btn">Send message</button>
                            </form>                  
                        </article>
                        <aside class="page-sidebar col-sm-4 col-sm-offset-1">
                              
                            
                            <section class="widget has-divider">
                                <div class="title-block">
                <h3>Postal Address</h3>
              </div>
                                <p class="adr">
                                    <span class="adr-group">       
                                        <span class="street-address">Sed ut perspiciatis unde</span><br>
                                        <span class="region">56 Sed ut perspiciatis</span><br>
                                        <span class="postal-code">9874</span><br>
                                        <span class="country-name">US</span>
                                    </span>
                                </p>
                            </section><!--//widget-->     
                            
                            <section class="widget">
                                <div class="title-block">
                <h3>All Enquires</h3>
              </div>
                                <p class="tel"><i class="fa fa-phone icons"></i>Tel: 123 123 4567</p>
                                <p class="email"><i class="fa fa-envelope icons"></i>Email: <a href="#">enquires@website.com</a></p>
                            </section>   
                        </aside>
        </div>
      </div>
      <!--.section-1-->
      
    </div>
    <!--.content-section-->
    
  </div>
  </div>
</section>
<!--.maincontainer-->
<footer id="footer">
  <div class="container">
    <nav class="footer-nav footer-nav1">
      <p> &copy; 2013 All Maid Tools    All Rights Reserved    | <a href="javascript:void(0)">Terms Of Use</a> And <a href="javascript:void(0)">Privacy Policy</a></p>
    </nav>
  </div>
</footer>

<!-- JS
	================================================== --> 
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/plugin.js"></script>
<script src="js/bootstrap.js"></script> 
<script src="js/scripts.js"></script>
</body>
</html>