<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>All Med Tools</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans|Merriweather+Sans:400,800,700">
<!-- CSS
  ================================================== -->

<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/tooltip.css">
<!--[if lt IE 9]>
		<script src="lib/js/html5.js"></script>
<![endif]-->
<!-- Favicons
	================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">
</head>
<body class="">
<!-- Primary Page Layout
	================================================== -->
<header class="mainheader">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="all med tools"></a></h1>
        </div>
        <div class="col-sm-3 col-sm-offset-4 login-block">
          <a class="btn btn-xs loginbox"  data-toggle="modal" href="#login-col">Login</a>
                        <div id="login-col" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Login</h3>
                </div>
                <div class="modal-body">
                
                  <form action="" method="post">
                  	<div class="field">
                    	<label>Username:</label>
                        <input type="text" value="" class="input-box">
                    </div>
                    <div class="field">
                    	<label>Password:</label>
                        <input type="passworf" value="" class="input-box">
                    </div>
                    <div class="field">
                    	
                        <input type="submit" value="Submit" class="sub-button">
                    </div>
                  </form>
                </div>
                
                <div class="modal-footer"> <small>Not a member? <a href="#" class="signup">Sign up now!</a></small><br>
          <small><a href="#">Forgotten password?</a></small> </div>
                

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom group">
    <div class="container">
      <div class="navbar-header pull-right">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <nav class="collapse navbar-collapse navbar-mind-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html"><i class="fa fa-home ico"></i>Home</a></li>
          <li><a href="about.html"><i class="fa fa-th-list ico"></i>About us</a></li>
          <li><a href="product-details.html"><i class="fa fa-cloud-upload ico"></i>Our Products</a></li>
          <li><a href="#"><i class="fa fa-picture-o ico"></i>Gallery</a></li>
          <li><a href="#"><i class="fa fa-cog ico"></i>Services</a></li>
          <li><a href="#"><i class="fa fa-edit ico"></i>Blog</a></li>
          <li><a href="#"><i class="fa fa-group ico"></i>Forum</a></li>
          <li><a href="contact-.html"><i class="fa fa-phone ico"></i>Contact Us</a></li>
        </ul>
        <!-- nav nabvar-nav --> 
      </nav>
    </div>
  </div>
</header>
<!--mainheader-->

<section class="maincontainer">
  <div class="container">
      <div class="login-section">
      <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u search-but" type="button">Search</button>
                                    </span>
                                </div>
      
        <!--<input type="text" class="ipbox form-control" value="Cadiology" palceholder"Cadiology">
        <span class="input-group-btn pull-left">
        <button type="button" class="btn btn-default search-but">SEARCH</button>
        </span> --></div>
    <!--.login-section-->
    <div class="content-section">
      <div class="row">
      <div class="col-sm-7">
        <div class="description">
          <div class="title-block">
            <h2>Lorem ipsum dolor sit amet, consectetur </h2>
          </div>
          <figure class="image-holder"> <img src="images/image1.jpg" alt="image" align="left"> </figure>
          <div class="detail">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
          </div>
        </div>
        <div class="description">
          <h3>Lorem ipsum dolor sit amet, consectetur </h3>
          <figure class="image-holder"> <img src="images/image2.jpg" alt="image" align="left"> </figure>
          <div class="detail">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the </p>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="aside-sec">
          <figure class="image-holder-1"><img src="images/human-body.jpg" alt="image"></figure>
          <div class="pointer"> <img src="images/pointer.png" alt="">
            <div class="popup">
              <figure class="col"><img alt="flag" src="images/heart.jpg"></figure>
              <div class="body-title">
                <h4>Heart</h4>
              </div>
            </div>
          </div>
        </div>
      </div></div>
    </div>
    <!--.content-section-->
    <div class="signup-form">
      <form action="" method="post">
        <h3>Sign Up for Newletter</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="field">
          <input type="text" value="Your Name" class="inputbox">
          <input type="text" value="Your Name" class="inputbox">
          <input type="submit" value="Submit" class="btn btn-default sub-btn">
        </div>
      </form>
    </div>
  </div>
  </div>
</section>
<!--.maincontainer-->
<footer id="footer">
  <div class="container">
    <nav class="footer-nav">
      <p> &copy; 2013 All Maid Tools    All Rights Reserved    | <a href="javascript:void(0)">Terms Of Use</a> And <a href="javascript:void(0)">Privacy Policy</a></p>
    </nav>
  </div>
</footer>

<!-- JS
	================================================== --> 
<script src="js/jquery-1.8.3.min.js"></script> 
<script src="js/plugin.js"></script> 
<script src="js/bootstrap.js"></script> 
<script src="js/scripts.js"></script> 
<!--<script type="text/javascript">
  
$(document).ready(function () {
    
    $('a').each(function () {
        $(this).qtip({
            content: $(this).next('.tooltiptext'),
			show: {
            effect: function() {
                $(this).show('slide', 500);
            }
        },
            hide: {
                fixed: true,
                delay: 300,
				effect: function() {
                $(this).hide('puff', 500);
            }
            }
        });
    });
    
});
</script>-->
</body>
</html>