<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>All Med Tools</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans|Merriweather+Sans:400,800,700">
<!-- CSS
  ================================================== -->

<link rel="stylesheet" href="css/bootstrap.css" media="all">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/flexslider.css">
<!--[if lt IE 9]>
		<script src="lib/js/html5.js"></script>
<![endif]-->
<!-- Favicons
	================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
<!-- Primary Page Layout
	================================================== -->
<header class="mainheader">
  <div class="header-top">
    <div class="container">
      <div class="col-sm-5">
        <h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="all med tools"></a></h1>
      </div>
    </div>
  </div>
  <div class="header-bottom group">
    <div class="container">
      <div class="navbar-header pull-right">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <nav class="collapse navbar-collapse navbar-mind-collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html"><i class="fa fa-home ico"></i>Home</a></li>
          <li><a href="about.html"><i class="fa fa-th-list ico"></i>About us</a></li>
          <li class="active"><a href="product-details.html"><i class="fa fa-cloud-upload ico"></i>Our Products</a></li>
          <li><a href="#"><i class="fa fa-picture-o ico"></i>Gallery</a></li>
          <li><a href="#"><i class="fa fa-cog ico"></i>Services</a></li>
          <li><a href="#"><i class="fa fa-edit ico"></i>Blog</a></li>
          <li><a href="#"><i class="fa fa-group ico"></i>Forum</a></li>
          <li><a href="contact.html"><i class="fa fa-phone ico"></i>Contact Us</a></li>
        </ul>
        <!-- nav nabvar-nav --> 
      </nav>
    </div>
  </div>
</header>
<!--mainheader-->

<section class="maincontainer">
  <div class="container">
    <div class="content-section">
      <div class="section-1">
        <div class="row">
          <div class="col-sm-5">
            <section class="slider">
              <div class="flexslider">
                <ul class="slides">
                  <li data-thumb="images/wave-line.jpg"> <img src="images/wave-line.jpg" alt="wave"/> </li>
                  <li data-thumb="images/wave-line.jpg"> <img src="images/wave-line.jpg" alt="wave"/> </li>
                  <li data-thumb="images/wave-line.jpg"> <img src="images/wave-line.jpg" alt="wave"/> </li>
                  <li data-thumb="images/wave-line.jpg"> <img src="images/wave-line.jpg" alt="wave"/> </li>
                </ul>
              </div>
            </section>
          </div>
          <div class="col-sm-7">
            <div class="description">
              <div class="title-block">
                <h2>DRE Waveline Pro Anesthesia Gas</h2>
              </div>
              <ul class="info">
                <li>Manufacturer by : <a href="javascript:void(0)">Lorem Ipsum Dolor Sit Amet</a></li>
                <li>specialty  : <a href="javascript:void(0)">Lorem Ipsum Dolor Sit Amet</a></li>
              </ul>
              <div class="rating-block"> <img src="images/rating.jpg" alt="rating" align="left"><span>25 customer reviews</span> </div>
            </div>
            <div class="description">
              <div class="title-block title1">
                <h3>DRE Waveline Pro Anesthesia Gas</h3>
              </div>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
                quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam 
                est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et 
                dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
            </div>
          </div>
        </div>
      </div>
      <!--.section-1-->
      <div class="section-2">
        <div class="row">
          <div class="col-sm-6 ">
            <div class="block-list box">
              <div class="title-block title1">
                <h3>DRE Waveline Pro Anesthesia Gas</h3>
              </div>
              <ul class="listing">
                <li><a href="javascript:void(0)">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit</a></li>
                <li><a href="javascript:void(0)">Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua</a></li>
                <li><a href="javascript:void(0)">Ut Enim Ad Minim Veniam</a></li>
                <li><a href="javascript:void(0)">Duis Aute Irure Dolor In Reprehenderit </a></li>
                <li><a href="javascript:void(0)">Sed Ut Perspiciatis Unde Omnis Iste Natus Error Sit Voluptatem Accusantium</a></li>
                <li><a href="javascript:void(0)">Ut enim ad minima veniam, quis nostrum exercitationem</a></li>
                <li><a href="javascript:void(0)">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</a></li>
              </ul>
              <p>DRE Wa <span>veline Pro Anesthesia Gas</span> </p>
              <a class="btn btn-xs button"  data-toggle="modal" href="#myModal">Sales enquiry</a>
              <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3>Sales Enquiry</h3>
                    </div>
                    <div class="modal-body">
                      <form action="" method="post">
                        <div class="field">
                          <label>Full Name:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Name of Institute/Office:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Phone No. :</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>mail Address:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Short Inquiry:</label>
                          <textarea class="textarea"></textarea>
                        </div>
                        <div class="field">
                          <label>Device Name:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Device Manufacturer:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <input type="submit" value="Submit" class="sub-button">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <section class="slider slider-row">
              <div class="title-block title1">
                <h3>DRE Waveline Pro Anesthesia Gas</h3>
              </div>
              <div class="flexslider slider-1">
                <ul class="slides">
                  <li data-thumb="images/video.jpg"> <img src="images/video.jpg" alt="slider"/> </li>
                  <li data-thumb="images/video.jpg"> <img src="images/video.jpg" alt="slider"/> </li>
                  <li data-thumb="images/video.jpg"> <img src="images/video.jpg" alt="slider"/> </li>
                  <li data-thumb="images/video.jpg"> <img src="images/video.jpg" alt="slider"/> </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
      <!--.section-2-->
      <div class="section-3">
        <div class="tab-container col-md-12" id="tab-row">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#1" data-toggle="tab">Compatibility info</a></li>
            <li class=""><a href="#2" data-toggle="tab">Key differentiator</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="1">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem 
                quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
                tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem 
                ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                voluptate velit esse quam nihil molestiae consequatur</p>
            </div>
            <div class="tab-pane" id="2">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem 
                quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
                tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem 
                ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                voluptate velit esse quam nihil molestiae consequatur</p>
            </div>
          </div>
        </div>
      </div>
      <!--.section-3-->
      <div class="section-4">
        <div class="col-md-12 col-sm-12">
          <h3>Physician reviews</h3>
          <a class="btn btn-xs button review-btn"  data-toggle="modal" href="#review-col">Physicians review</a>
              <div id="review-col" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3>Physicians Review</h3>
                    </div>
                    <div class="modal-body">
                      <form action="" method="post">
                        <div class="field">
                          <label>5 stars <span>*</span>:</label>
                         <input type="number" name="your_awesome_parameter" id="some_id" class="rating" data-clearable="remove"/>
                        </div>
                        <div class="field">
                          <label>Body part <span>*</span>:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Indication <span>*</span>:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Frequency of use for the indication <span>*</span>:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Procedure used in <span>*</span>:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Other devices used in conjunction <span>*</span>:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Quick advice/comment <span>*</span>:</label>
                          <textarea id="message" class="form-control" rows="6" placeholder=""></textarea>
                        </div>
                        <div class="field">
                          <label>Detailed review <span>*</span>:</label>
                          <textarea id="message" class="form-control" rows="6" placeholder="Enter your message here..."></textarea>
                        </div>
                        <div class="field">
                          <a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                        <div class="field">
                          <input type="submit" value="Submit" class="sub-button">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          <article class="article-sec">
            <div class="rating-block"> <img src="images/rating.jpg" alt="rating" align="left"><span><strong>Loream ipsum dolor</strong></span> </div>
            <span class="author"> by <a href="javascript:void(0)">Loream ipsum dolor</a> </span>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem 
              quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
              tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem 
              ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
              voluptate velit esse quam nihil molestiae consequatur</p>
            <span class="meta"> 2 comments | Was this review helpful to u? </span> </article>
          <article class="article-sec">
            <div class="rating-block"> <img src="images/rating.jpg" alt="rating" align="left"><span><strong>Loream ipsum dolor</strong></span> </div>
            <span class="author"> by <a href="javascript:void(0)">Loream ipsum dolor</a> </span>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem 
              quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
              tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem 
              ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
              voluptate velit esse quam nihil molestiae consequatur</p>
            <span class="meta"> 2 comments | Was this review helpful to u? </span> </article>
          <article class="article-sec">
            <div class="rating-block"> <img src="images/rating.jpg" alt="rating" align="left"><span><strong>Loream ipsum dolor</strong></span> </div>
            <span class="author"> by <a href="javascript:void(0)">Loream ipsum dolor</a> </span>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem 
              quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
              tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem 
              ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
              voluptate velit esse quam nihil molestiae consequatur</p>
            <span class="meta"> 2 comments | Was this review helpful to u? </span> </article>
          <article class="article-sec">
            <div class="rating-block"> <img src="images/rating.jpg" alt="rating" align="left"><span><strong>Loream ipsum dolor</strong></span> </div>
            <span class="author"> by <a href="javascript:void(0)">Loream ipsum dolor</a> </span>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem 
              quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
              tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem 
              ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
              voluptate velit esse quam nihil molestiae consequatur</p>
            <span class="meta"> 2 comments | Was this review helpful to u? </span> </article>
          <!--<a class="more-links" href="javascript:void(0)">View More Review</a>--> 
          
          <a class="btn btn-xs button review-btn"  data-toggle="modal" href="#review-col">Physicians review</a>
              <div id="review-col" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3>Physicians Review</h3>
                    </div>
                    <div class="modal-body">
                      <form action="" method="post">
                        <div class="field">
                          <label>5 stars <span>*</span>:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Body part <span>*</span>:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Indication <span>*</span>:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Frequency of use for the indication <span>*</span>:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Procedure used in <span>*</span>:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Other devices used in conjunction <span>*</span>:</label>
                          <input type="text" value="" class="input-box">
                        </div>
                        <div class="field">
                          <label>Quick advice/comment <span>*</span>:</label>
                          <textarea id="message" class="form-control" rows="6" placeholder=""></textarea>
                        </div>
                        <div class="field">
                          <label>Detailed review <span>*</span>:</label>
                          <textarea id="message" class="form-control" rows="6" placeholder="Enter your message here..."></textarea>
                        </div>
                        <div class="field">
                          <a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                        <div class="field">
                          <input type="submit" value="Submit" class="sub-button">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <!--.section-4-->
      <div class="section-5">
        <div class="col-sm-12">
          <div class="title-block title1">
            <h3>Related Products</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 alpha">
            <figure class="img-holder"> <img src="images/product.jpg" alt="product"> </figure>
            <h4><a href="javascript:void(0)">Lorem Ipsum Dolor</a> </h4>
            <ul>
              <li>Lorem Ipsum Dolor Sit Amet</li>
            </ul>
            <div class="rating-block"> <img src="images/rating.jpg" alt="rating" align="left"><span>(25)</span> </div>
          </div>
          <div class="col-sm-3">
            <figure class="img-holder"> <img src="images/product.jpg" alt="product"> </figure>
            <h4><a href="javascript:void(0)">Sed ut perspiciatis unde omnis</a> </h4>
            <ul>
              <li>Lorem Ipsum Dolor Sit Amet</li>
            </ul>
            <div class="rating-block"> <img src="images/rating.jpg" alt="rating" align="left"><span>(25)</span> </div>
          </div>
          <div class="col-sm-3">
            <figure class="img-holder"> <img src="images/product.jpg" alt="product"> </figure>
            <h4><a href="javascript:void(0)">Natus error sit voluptatem accusantium </a> </h4>
            <ul>
              <li>Lorem Ipsum Dolor Sit Amet</li>
            </ul>
            <div class="rating-block"> <img src="images/rating.jpg" alt="rating" align="left"><span>(25)</span> </div>
          </div>
          <div class="col-sm-3">
            <figure class="img-holder"> <img src="images/product.jpg" alt="product"> </figure>
            <h4><a href="javascript:void(0)">Lorem Ipsum Dolor</a> </h4>
            <ul>
              <li>Lorem Ipsum Dolor Sit Amet</li>
            </ul>
            <div class="rating-block"> <img src="images/rating.jpg" alt="rating" align="left"><span>(25)</span> </div>
          </div>
        </div>
      </div>
      <!--.section-5--> 
    </div>
    <!--.content-section--> 
    
  </div>
  </div>
</section>
<!--.maincontainer-->
<footer id="footer">
  <div class="container">
    <nav class="footer-nav footer-nav1">
      <p> &copy; 2013 All Maid Tools    All Rights Reserved    | <a href="javascript:void(0)">Terms Of Use</a> And <a href="javascript:void(0)">Privacy Policy</a></p>
    </nav>
  </div>
</footer>

<!-- JS
	================================================== --> 
<script src="js/jquery-1.8.3.min.js"></script> 
<script src="js/plugin.js"></script> 
<script src="js/bootstrap.js"></script> 
<script src="js/bootstrap-rating-input.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>