<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>All Med Tools</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans|Merriweather+Sans:400,800,700">
<!-- CSS
  ================================================== -->

<link rel="stylesheet" href="css/bootstrap.css" media="all">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<!--[if lt IE 9]>
		<script src="lib/js/html5.js"></script>
<![endif]-->
<!-- Favicons
	================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
<!-- Primary Page Layout
	================================================== -->
<header class="mainheader">
  <div class="header-top">
    <div class="container">
      <div class="col-sm-5">
        <h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="all med tools"></a></h1>
      </div>
    </div>
  </div>
  <div class="header-bottom group">
    <div class="container">
      <div class="navbar-header pull-right">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <nav class="collapse navbar-collapse navbar-mind-collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html"><i class="fa fa-home ico"></i>Home</a></li>
          <li><a href="about.html"><i class="fa fa-th-list ico"></i>About us</a></li>
          <li><a href="product-details.html"><i class="fa fa-cloud-upload ico"></i>Our Products</a></li>
          <li><a href="#"><i class="fa fa-picture-o ico"></i>Gallery</a></li>
          <li><a href="#"><i class="fa fa-cog ico"></i>Services</a></li>
          <li><a href="#"><i class="fa fa-edit ico"></i>Blog</a></li>
          <li><a href="#"><i class="fa fa-group ico"></i>Forum</a></li>
          <li><a href="contact.html"><i class="fa fa-phone ico"></i>Contact Us</a></li>
        </ul>
        <!-- nav nabvar-nav --> 
      </nav>
    </div>
  </div>
</header>
<!--mainheader-->
<section class="maincontainer">
  <div class="container">
    <div class="content-section">
      <div class="section-1">
        <div class="search-block">
          <div class="row">
            <div class="col-sm-7">
              <div class="title">
                <h2>Search results for Lorem ipsum</h2>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="login-section">
                <div class="input-group animated fadeInDown">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                  <button class="btn-u search-but" type="button">Search</button>
                  </span> </div>
                
                <!--<input type="text" class="ipbox form-control" value="Cadiology" palceholder"Cadiology">
        <span class="input-group-btn pull-left">
        <button type="button" class="btn btn-default search-but">SEARCH</button>
        </span> --></div>
              <!--.login-section--> 
            </div>
          </div>
          <div class="article-sec">
            <div class="row">
              <div class="col-sm-4">
                <h4>DRE Waveline Pro Anesthesia Gas</h4>
                <ul class="info">
                  <li>Manufacturer by : <a href="javascript:void(0)">Lorem Ipsum Dolor</a></li>
                  <li>specialty  : <a href="javascript:void(0)">Lorem Ipsum Dolor Sit Amet</a></li>
                </ul>
                <a href="#" class="internal-link">Expand</a> </div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-3">
                    <figure class="image-holder1"> <img src="images/search-prod.jpg" alt="img"> </figure>
                  </div>
                  <div class="col-sm-9">
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit. Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit.
                      Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit.Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing ElitLorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="article-sec">
            <div class="row">
              <div class="col-sm-4">
                <h4>DRE Waveline Pro Anesthesia Gas</h4>
                <ul class="info">
                  <li>Manufacturer by : <a href="javascript:void(0)">Lorem Ipsum Dolor</a></li>
                  <li>specialty  : <a href="javascript:void(0)">Lorem Ipsum Dolor Sit Amet</a></li>
                </ul>
                <a href="#" class="internal-link">Expand</a> </div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-3">
                    <figure class="image-holder1"> <img src="images/search-prod.jpg" alt="img"> </figure>
                  </div>
                  <div class="col-sm-9">
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit. Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit.
                      Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit.Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing ElitLorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="article-sec">
            <div class="row">
              <div class="col-sm-4">
                <h4>DRE Waveline Pro Anesthesia Gas</h4>
                <ul class="info">
                  <li>Manufacturer by : <a href="javascript:void(0)">Lorem Ipsum Dolor</a></li>
                  <li>specialty  : <a href="javascript:void(0)">Lorem Ipsum Dolor Sit Amet</a></li>
                </ul>
                <a href="#" class="internal-link">Expand</a> </div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-3">
                    <figure class="image-holder1"> <img src="images/search-prod.jpg" alt="img"> </figure>
                  </div>
                  <div class="col-sm-9">
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit. Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit.
                      Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit.Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing ElitLorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="article-sec">
            <div class="row">
              <div class="col-sm-4">
                <h4>DRE Waveline Pro Anesthesia Gas</h4>
                <ul class="info">
                  <li>Manufacturer by : <a href="javascript:void(0)">Lorem Ipsum Dolor</a></li>
                  <li>specialty  : <a href="javascript:void(0)">Lorem Ipsum Dolor Sit Amet</a></li>
                </ul>
                <a href="#" class="internal-link">Expand</a> </div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-3">
                    <figure class="image-holder1"> <img src="images/search-prod.jpg" alt="img"> </figure>
                  </div>
                  <div class="col-sm-9">
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit. Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit.
                      Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit.Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing ElitLorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--.section-1--> 
      
    </div>
    <!--.content-section--> 
    
  </div>
  </div>
</section>
<!--.maincontainer-->
<footer id="footer">
  <div class="container">
    <nav class="footer-nav footer-nav1">
      <p> &copy; 2013 All Maid Tools    All Rights Reserved    | <a href="javascript:void(0)">Terms Of Use</a> And <a href="javascript:void(0)">Privacy Policy</a></p>
    </nav>
  </div>
</footer>

<!-- JS
	================================================== --> 
<script src="js/jquery-1.8.3.min.js"></script> 
<script src="js/bootstrap.js"></script> 
<script src="js/scripts.js"></script>
</body>
</html>